{{#if playlistCanciones}}
<div class="search">
    <h1>{{length}} Canciones</h1>
    
    {{#each playlistCanciones}}
    <table class="box-result">
        <tr>
            <th>#</th>
            <th>Cancion</th>
            <th>Album</th>
            <th>Artista</th>
        </tr>
        {{#each canciones}}
        <tr>
            <td class="normaltext">{{@key}}</td>
            <td class="titlesong">{{ titlesong }}</td>
            <td class="normaltext">{{ musicArtist.title }}</td>
            <td class="normaltext">{{ musicArtist.artist.name }}</td>
        </tr>
        {{/each}}
    </table>
    {{/each}}
</div>
{{/if}}